body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: black;
    overflow-y: auto;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 10rem;
    justify-items: center;
    
}

.search{
    align-self: center;
}

/*.overview {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: ;
    gap: .5rem;
    border: 5px solid black;
}
*/