body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    color: black;
    overflow-y: auto;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 10rem 1fr;
    
    
}

.search{
    justify-self: center;
    align-self: center;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.overview{
    justify-self: center;
    padding: 2rem;
    display: flex;
    gap: 2rem;  
}

.overviewImage{
    width: 6rem;
    height: auto;
}

.overviewInfo{
    display: flex;
    flex-direction: column;
    gap: .5rem;  
}

.forecastDaysWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    padding: 2rem;
    
}

.forecastDays{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 300px;
}

.forecastDay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}